/**********************************

Project   : Fitness365
Style     : graph.css 
Created By: Rajeev Ranjan

*********************************/



.level-graph,.header-content {
    float: left;
    width: 100%;
    clear: both;
}

    .header-content h5 {
        margin-bottom:0px;
    }

    
    .header-content h2 {
        margin-top:10px;
    }

    level-graph .canvasjs-chart-canvas{

        width:100%;
    }

.header-bottom-gap {
    margin: 0 0 30px 0;
}
.text-01 {
    font-size: 30px;
    color: #000;
    font-family: inherit;
}

.text-02 {
    text-align: center;
    color: #727272;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0;
    margin: 0px;
}


.header-bg {
    background: #ededee;
}

.mt-reduce {
    margin-top: 75px !important;
}

.level-box {
    float: left;
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.level-gray-all {
    border-top: 6px solid #fff;
    position: relative;
    margin-top: 4px;
}

.level-01, .level-02, .level-03, .level-04, .level-05, .level-06, .level-07 {
    position: absolute;
    z-index: 2;
    padding: 3px 0;
    min-height: 6px;
    top: -6px;
}

.level-01 { border-top: 6px solid #ff043f;}
.level-02 { border-top: 6px solid #fc6ba9;}
.level-03 { border-top: 6px solid #ffaa62;}
.level-04 { border-top: 6px solid #f7d54e;}
.level-05 { border-top: 6px solid #8bd470;}
.level-06 { border-top: 6px solid #00b289;}
.level-07 { border-top: 6px solid #009bdf;}

.level-box .current-lavel,
.level-box .current-duration,
.level-box p {
    font-size: 15px;
    color: #000;
    font-weight: 300;
}

.level-box .current-lavel {
    float: left;
}

.level-box .current-duration {
    float: right;
}

.level-box p {
    padding: 8px 0 0 0;
    margin-bottom: 0;
}


/*===========================Performance Details================================*/
.bmi-performance {
    margin-top: 15px;
}

.bmi-performance, .fitness-score, .test-summery, .camp-details, .current-camp-record {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .bmi-performance::after, .fitness-score::after, .test-summery::after, .camp-details::after, .current-camp-record::after {
        content: "";
        clear: both;
    }

    .bmi-performance ul {
        margin: 0px;
        padding: 0px;
    }

        .bmi-performance ul li {
            float: left;
            display: inline-block;
            text-align: center;
            width: 25%;
            position: relative;
        }

    .bmi-performance .level-01, .bmi-performance .level-02, .bmi-performance .level-03, .bmi-performance .level-04, .bmi-performance .level-05, .bmi-performance .level-06, .bmi-performance .level-07 {
        width: 100%;
        padding: 15px 0;
        margin: 10px 0 0;
        position: static;
        font-size: 18px;
        font-weight: 300;
    }

.performace-details {
}

/*tab-navgation */
.tab-content {
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px;
}
.tab-navgation {
    /*margin: 35px 0 0 0;*/
    padding: 0px;
    width: 100%;
}

    .tab-navgation .nav-tabs {
        border-bottom: 1px solid #0981ba;
        text-align: center;
    }

        .tab-navgation .nav-tabs > li {
            float: none;
            display: inline-block;
            position: relative;
            z-index: 5;
            top: 1px;
            position: relative;
            transition: 0.5s;
            margin-bottom: 0px;
        }

            .tab-navgation .nav-tabs > li > a {
                border-radius: 0px;
                padding: 5px 25px 5px 25px;
                font-size: 20px;
                font-weight: 300;
                color: #0475ab;
                border: 1px solid transparent;
                border-width: 1px 1px 0px;
                transition: 0.5s;
            }


            .tab-navgation .nav-tabs > li > a:hover{

                background:#dedede!important;
                color:#000;
            }


            .tab-navgation .nav-tabs > li:hover > a {
                border: 1px solid #bbb;
                border-width: 1px 1px 0px;
            }

            .tab-navgation .nav-tabs > li.active {
                border-bottom: 1px solid #fff;
                top: 2px;
            }

                .tab-navgation .nav-tabs > li.active > a {
                    /*padding: 13px 25px;*/
                }


            .tab-navgation .nav-tabs > li > a > img {
                max-width: 100%;
                width: 25px;
            }


            .tab-navgation .nav-tabs > li.active > a, .tab-navgation .nav-tabs > li.active > a:focus, .tab-navgation.nav-tabs > li.active > a:hover {
                color: #000;
                border: 1px solid #0475ab;
                border-width: 1px 1px 0px;
                background: none;
                background: #fff;
            }

            .tab-navgation .nav-tabs > li .notification {
                position: absolute;
                top: -14px;
                z-index: 8;
                background: #64a245;
                padding: 4px 14px;
                border-radius: 4px;
                -moz-border-radius: 100px;
                -webkit-border-radius: 100px;
                -ms-border-radius: 100px;
                color: #fff;
                font-size: 14px;
                left: 24%;
            }

.score-board, .about-test {
    float: left;
    width: 100%;
    /* margin: 15px 0; */
    border: #d7d7d7 dashed;
    border-width: 1px;
}

.about-test {
    padding:15px;
}

.score-details {
    border-right: #d7d7d7 dashed;
    border-width: 1px;
    padding: 10px 15px;
    float: left;
    width: 33.3%;
}

    .score-details .level-score {
        float: left;
        position: relative;
    }

        .score-details .level-score img {
            float: left;
        }
    .score-details .score-card > span {
        font-size: 14px;
        display: block;
    }

        .score-details .level-score span {
            position: absolute;
            top: 18px;
            left: 20px;
            font-size: 16px;
            color: #fff;
        }

    .score-details .score-card > p {
        font-size: 18px;
    }

    .score-details .score-card {
        padding: 10px 0;
        font-weight: 300;
    }
    
    .score-details .ltr {
        margin-left: 22%;
    }

.balance-chart-area p {
    font-size: 18px;
    margin: 0px;
    font-weight: 300;
    padding: 20px 0;
}

.print-area {
    clear: both;
    margin: 30px 0;
    float: left;
    width: 100%;
    font-size: 18px;
}
    .print-area i {
        padding-right:10px;
    }

/*===========================legend label===============================================*/

.legend-level {
    float: left;
    width: 100%;
    margin: 30px 0;
}

    .legend-level ul {
        margin: 0px;
        padding: 0px;
    }

        .legend-level ul li {
            float: left;
            display: inline-block;
            text-align: center;
            width: 14.2%;
            position: relative;
        }

            .legend-level ul li > span, .bmi-performance ul li > span {
                display: block;
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                color: #000;
            }

    .legend-level .level-01,
    .legend-level .level-02,
    .legend-level .level-03,
    .legend-level .level-04,
    .legend-level .level-05,
    .legend-level .level-06,
    .legend-level .level-07 {
        width: 100%;
        padding: 15px 0;
        margin: 10px 0 0;
        position: static;
        font-size: 18px;
        font-weight: 300;
        height: 40px;
    }

    .legend-level p{
    font-weight: 300;
    color: #000;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size:14px;
    }

    /*===========================legend label border right ===============================================*/

    /*.legend-level .level-01{border-right:1px solid #fe4a5d;}*/
    .legend-level .level-02 { border-left: 1px solid #fc6ba9;}
    .legend-level .level-03 { border-left: 1px solid #ffaa62;}
    .legend-level .level-04 { border-left: 1px solid #f7d54e;}
    .legend-level .level-05 { border-left: 1px solid #8bd470;}
    .legend-level .level-06 { border-left: 1px solid #00b289;}
    .legend-level .level-07 { border-left: 1px solid #009bdf;}
    .legend-level .text-bold {
        font-weight: 400;
        color: #000;
    }

    .legend-level ul li > span > img {
        margin-right: 5px;
        margin-top: -6px;
    }

.current-camp-record {
    position: relative;
    margin-top: 30px;
}

    .current-camp-record ul {
        float: left;
        margin: 0px 0 0 15%;
        padding: 0px;
        list-style-type: none;
        width: 75%;
        border: 1px solid #c2c2c3;
        border-width: 0 0 1px 1px;
    }

        .current-camp-record ul li {
            float: left;
            width: 100%;
            position: relative;
            padding: 5px 0;
        }

            .current-camp-record ul li:last-child {
                padding: 5px 0 15px 0
            }

            .current-camp-record ul li > span {
                font-size: 15px;
                font-weight: 300;
                color: #868686;
                margin: 20px 0 0 -105px;
                float: left;
                display: block;
                width: 23%;
                text-align: right;
            }

    .current-camp-record .legend-level {
        width: 100%;
        display: block;
        margin: 0px;
    }

    .current-camp-record .level-01,
    .current-camp-record .level-02,
    .current-camp-record .level-03,
    .current-camp-record .level-04,
    .current-camp-record .level-05,
    .current-camp-record .level-06,
    .current-camp-record .level-07 {
        width: 14.2%;
        font-size: 18px;
        font-weight: 300;
        height: 30px;
        float: left;
    }

    .current-camp-record .level-01 {
        background: #fe4a5d;
    }

    .current-camp-record .level-02 {
        background: #ffaa62;
    }

    .current-camp-record .level-03 {
        background: #ffd26e;
    }

    .current-camp-record .level-04 {
        background: #74c4d6;
    }

    .current-camp-record .level-05 {
        background: #a3d55f;
    }

    .current-camp-record .level-06 {
        background: #6bc04b;
    }

    .current-camp-record .level-07 {
        background: #00953b;
    }

    .current-camp-record .scale {
        position: absolute;
        width: 100%;
        bottom: -25px;
        left: 0%;
    }

    .current-camp-record h3 {
        margin: 0 0 20px 0
    }

    .current-camp-record .scale > div {
        float: left;
        width: 10%;
        text-align: center;
    }

        .current-camp-record .scale > div > div {
            margin: 10px 0 0 0
        }

        .current-camp-record .scale > div > span {
            height: 10px;
            border-right: 1px solid #ccc;
        }

.border-right {
    border-right: 1px solid #d4d4d5;
}

.button-pre-next {
    text-align: center;
    width: 100%;
    float: left;
}

    .button-pre-next .prevue, .button-pre-next .pan-india {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
    }

    .button-pre-next .prevue {
        padding: 8px 20px;
        border-bottom: 10px solid #c8c8c8;
    }

    .button-pre-next .pan-india {
        padding: 8px 20px;
        border-bottom: 5px solid #8094dd;
    }




.chart-1 {
    width: 250px !important;
    height: 250px !important;
    margin: 0 auto;
}


.chartDetails {
    width: 350px;
    background: #fff;
    padding: 0;
    height: auto !important;
    margin: 0 auto;
}

.prfile-graph {
    width: 100%;
    float: left;
    margin: 3px 0;
}

.prfile-name {
    float: left;
    width: 30%;
    font-size: 11px;
    font-weight: 500;
}

.prfile {
    width: 56%;
    float: left;
    background: #c8c8c8;
    position: relative;
    height: 15px;
}

.color-box {
    position: absolute;
    height: 15px;
    background: #ff0000;
    width: 56%;
}

.ProfileLabel {
    float: left;
    width: 9%;
    color: #000;
    font-size: 13px;
    margin-left: 15px;
}

.heading {
    display: block;
    margin: 5px 0;
    clear: both;
}



@media( min-width: 992px) {

    .chartDetails {
        width: 300px !important;
        height: 300px !important;
    }



    .chart-1 {
        width: 250px !important;
        height: 250px !important;
        margin: 0 auto;
    }


    .prfile {
        width: 46%;
    }

    .prfile-name, .ProfileLabel {
        font-size: 11px;
    }

    .current-camp-record .legend-level {
        width: 96%;
    }
}



@media( max-width: 768px) {

    .legend-level .level-01 p, .legend-level .level-02 p, .legend-level .level-03 p, .legend-level .level-04 p, .legend-level .level-05 p, .legend-level .level-06 p, .legend-level .level-07 p {
        font-size: 12px;
    }

    .legend-level ul li > span, .bmi-performance ul li > span {
        font-size: 12px;
    }

    .chart-1, .chartDetails {
        margin-bottom: 15px;
        margin: 0 auto;
    }

    .chart-box-container .heading, .chart-box-container h3 {
        text-align: center;
    }

    #topscoremale0 {
        height: 250px !important;
    }

    .chart-box-container h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .chart-box-container .heading h4 {
        font-size: 16px;
    }

    .prfile-name, .ProfileLabel {
        font-size: 9px;
    }
     .print-area{       
        display:none;
    }
}




@media ( max-width: 480px) {

    .chart-1, .chartDetails {
        margin-bottom: 15px;
        width: 300px !important;
    }

    .mt-reduce{
        margin-top:40px !important;
    }
    .header-bottom-gap{
        margin:0px;
    }

    .small-dev-center > p, .small-dev-center > span {
        text-align: left;
        padding-left: 20%;
    }

    .text-01 {
        font-size: 22px;
        text-align:center;
    }

    .text-02 {
        font-size: 16px;
    }

    .score-details {
        border-right: 0px;
        width:100%;
    }
    .score-details .level-score img{
        display:none;
    }
    .score-details .level-score span{
      background: #ea6334;   
    border-radius: 51px;
    width: 30px;
    height: 30px;
    float: left;
    left: 0;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
    top:0px;
    }
    .small-dev-left .score-card{
        margin-left:21%;
    }
    .small-dev-left {
        padding-top:0px;
    }

    .score-details .ltr{ margin-left:0; }
    .score-details .score-card{
        padding:0px;
    }

    .small-dev-center{
        text-align:center;
    }

    .tab-navgation .nav-tabs > li > a{

        font-size:16px;
            padding: 5px 10px;
    }

    .score-details .score-card > span, .balance-chart-area p {
        font-size: 15px;
    }

   
    .score-details .score-card > p {
        font-size: 18px;
    }
    .balance-chart-area p{
        padding-top:0px;
    }

    .prfile-name {
        width: 45%;
    }

    .prfile {
        width: 40% !important;
    }

    .ProfileLabel {
        width: 8%;
    }

    .prfile-name, .ProfileLabel {
        font-size: 10px;
    }


    .current-camp-record ul {
        margin-left: 21%;
    }

    .current-camp-record .level-07 {
        width: 70%;
    }

    .current-camp-record ul li > span {
        margin: 20px 0 0 -87px;
    }


    .camp-details .border-right {
        border-right: none;
    }
}




@media ( max-width: 320px) {

    .chart-1, .chartDetails, .chart-1.canvasjs-chart-canvas, .chartDetails.canvasjs-chart-canvas {
        margin-bottom: 15px;
        margin-left: 0%;
        width: 250px !important;
    }

    .legend-level ul li {
        width: 14.2%;
    }

    

    .legend-level .level-01 p, .legend-level .level-02 p, .legend-level .level-03 p, .legend-level .level-04 p, .legend-level .level-05 p, .legend-level .level-06 p, .legend-level .level-07 p {
        font-size: 9px !important;
    }

    .prfile-name {
        width: 45%;
    }

    .prfile {
        width: 40% !important;
    }

    .ProfileLabel {
        width: 8%;
    }


    .current-camp-record ul {
        margin-left: 27%;
    }
}
